body{
    background-image: url(img/bg.jpg);
}

/* footer */
footer{
	position: relative;
	width: 100%;
	height: 150px;
	background: #7c7e81;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
    margin-top: 20px;
	font-size: 20px;
	color: #e8ebee;
	margin-bottom: 5px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: #e8ebee;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.end{
  color: #e8ebee;
}